.transaction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}
.transaction button {
  margin-top: 3em;
}
.errorMsg {
  position: absolute;
  top: 1rem;
}

.inputfield {
  display: flex;
  flex-direction: column;
}
.toggleOwe {
  flex-basis: 100%;
  text-align: center;
}
.toggleOwe input[type="radio"] {
  display: none;
}

.toggleOwe label {
  padding: 25px;
  font-size: 18px;
}

